body{
  background-color: black;
}

.fondo-header{
  background-image: url(./assets/fondo-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
}



